* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #1e2030;
    font-weight: 350;
    font-size: medium;
}

main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pricing{
    text-align: center;
    margin-top:50px;
    color: rgb(164, 122, 255);
}

h3:not(#title) {
    border-top: 1px solid grey;
    margin: 10px;
    padding: 20px 0px 10px 0px;
    text-align: center;
    width: 100%;
}

h1 {
    margin-top: 15px;
    margin-bottom: 60px;
}

.subs-card,
button {
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #363a4f;
    padding: 8px;
}

.subs-card:hover {
    box-shadow: 1px 1px 50px #808ad84d;
    border: 1px solid gold;
}

button{
    margin-top: 50px;
}

button:hover {
    border: 1px solid #1e2030;
}

.subs-card {
    height: 500px;
    width: 250px;
    margin-top:0px;
}

.subs-card>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    margin: 5px;
}
#basic, #better{
    height: 470px;
    margin-top: 9px;
}
