* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #1e2030;
    color: white;
    font-weight: 350;
    font-size: medium;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
}
nav{
    grid-column: 1/4; 
    width: 100%;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 3;
    grid-column: 1/3;
    position: absolute;
    top: 26%;
    left: 37%;
}
