*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: darkslategray;
}

nav{
    height: 60px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-around
}

img{
    height: 60px;    
    width: 60px;
}

input,button{
    background-color: darkslategray;
    border: none;
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 4px;
    margin: 0px 10px 0px 10px;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

.searchIcon,input{
    width: 100%;
}

button:hover{
    background-color: #004e6d;

}
div{
    padding: 10px;
    margin: auto;
}


a{
    margin:20px;
    color: white;
    text-decoration: none;
}

