*{
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family:  sans-serif;
}

body{
    background-color: #1e2030;
    color: white;
    font-weight: 350;
    font-size: medium;
}

#top-span{
    font-family: Momo Signature;
    font-size: x-large;
    color: #7287fd;
}

.logo{
    width: 100%;
    margin: 0px 15px;
}

.topbar{
    display: flex;
    justify-content: space-evenly;
    border-bottom:1px solid grey;
}

.bar-btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#profilebtn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,button{
    background-color: #363a4f;
    border: none;
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 4px;
    margin: 0px 10px;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

input,input::placeholder{
    color: white;
    width: 100%;
}

button:hover{
    background-color: #7287fd;
}

div{
    padding: 10px;
    margin: auto;
}

a{
    margin:20px;
    color: white;
    text-decoration: none;
}
#premium{
    background-color: #dfb51d;
}
#premium>a{
    color: whitesmoke;
}

.searchbar{
    display: flex;
    justify-content: center;
}

img{
   width: 200px; 
   height: auto;
   margin-bottom: 15px;
   border-radius: 6px;
}

.card{
    background-color:#363a4f; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#title{
    font-size: larger;
    font-weight: 599;
    margin-bottom: 5px;
}
#date{
    font-size: medium;
    color:lightgrey;
}
.card:hover{
    background-color:#5b72a0;
}

main{
    display: flex;    
    flex-wrap: wrap;
}

footer{
    height: 100px;
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}


#foot-span{
    color: #7287fd;
}

footer>p{
    margin: 15px;
}