*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(41, 66, 66);
    color: white;
}

.topbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(76, 76, 76);
}

.btn{
    display: flex;
    justify-content: flex-end;
}

input,button{
    background-color: rgb(65, 113, 100);
    border: none;
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 4px;
    margin: 0px 10px;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

input,input::placeholder{
    color: white;
    width: 100%;
}

button:hover{
    background-color: #004e6d;
}

div{
    padding: 10px;
    margin: auto;
}

a{
    margin:20px;
    color: white;
    text-decoration: none;
}

.searchIcon{
    display: flex;
    justify-content: center;
}

img{
   width: 200px; 
   height: auto;
   margin-bottom: 15px;
   border-radius: 6px;
}

h3{
    font-weight: 600;
}

.card{
    border: 2px solid #317b60;
    background-color: rgb(67, 67, 67);
    border-radius: 8px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 15px;
}

.card:hover{
    background-color: rgb(99, 99, 99);
}

main{
    display: flex;    
    flex-wrap: wrap;
}


.goat{
    height: 100px;
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
}
#socials{
    margin: 80px;
}