*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #1e2030;
    color: white;
}

.topbar{
    display: flex;
    justify-content: space-evenly;
    border-bottom:1px solid grey;
}

.bar-btns{
    display: flex;
    justify-content: flex-end;
}

input,button{
    background-color: #363a4f;
    border: none;
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 4px;
    margin: 0px 10px;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

input,input::placeholder{
    color: white;
    width: 100%;
}

button:hover{
    background-color: #7287fd;
}

div{
    padding: 10px;
    margin: auto;
}

a{
    margin:20px;
    color: white;
    text-decoration: none;
}

.searchbar{
    display: flex;
    justify-content: center;
}

img{
   width: 200px; 
   height: auto;
   margin-bottom: 15px;
   border-radius: 6px;
}

h3{
    font-weight: 600;
}

.card{
    background-color:#363a4f; 
    border-radius: 8px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 15px;
}

.card:hover{
    background-color:#5b72a0;
}

main{
    display: flex;    
    flex-wrap: wrap;
}


footer{
    height: 100px;
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}


span{
    background-color: rgba(255, 140, 0, 0.848);
    font-size: larger;
}
footer>p{
    margin: 15px;
}