*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: darkslategray;
}

.topbar{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    display: flex;
    justify-content: flex-end;
}

input,button{
    background-color: rgb(65, 113, 100);
    border: none;
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 4px;
    margin: 0px 10px;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

input,input::placeholder{
    color: white;
    width: 100%;
}

button:hover{
    background-color: #004e6d;
}

div{
    padding: 10px;
    margin: auto;
}

a{
    margin:20px;
    color: white;
    text-decoration: none;
}

.searchIcon{
    display: flex;
    justify-content: center;
}